/*style.css*/

body{
    background-color: #000000;
    color: #0066cc;
}

img{
    padding-top: 20px;
    width: 100%;
}
h1{
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

h2{
    text-align: center;
}